* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h2 {
    font-size: 3em;
    font-family: 'Archivo Black', sans serif;
    font-weight: 400;
    line-height: 2em;
    color: #314E59;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25em;
    padding: 10px;
}

h4 {
    padding: 0.5em;
    font-family: 'Archivo Black', sans serif;
    font-weight: 400;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #314E59;
}

h5 {
    padding: 10px;
}

p {
    padding: 10px;
    font-family: 'Quattrocentro', serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color:#5A7E8C;
} 

nav {
    text-align: right;
    flex-grow: 1;
}

nav a {
    display: inline-block;
    color: white;
    padding: 20px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #F03426;
}

#mission {
    background-image: url(images/HERO1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 70px;
    margin: auto;
}

#mission .content {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

#mission h1 {
    font-size: 3.25em;
    font-family: 'Archivo Black', serif;
    font-style: italic;
    color: white;
    line-height: 1.5em;
}

#tagline {
    background-color: white;
    color: #314E59;
    margin: auto;
    text-align: center;
}

#tagline .content {
    max-width: 1000px;
    padding: 0.5em;
    line-height: 1.5em;
}

#tagline h2 {
    font-size: 2.5em;
    font-family: 'Archivo Black', serif;
    font-weight: 400;
    line-height: 1.5em;
    color: #F03426;
}

.title-container{
    max-width: 1200px;
    margin: auto;
    margin-top: 3em;
}

.title-container h2 {
    text-align: center;
}

.divider {
  font-size: 30px;
  font-style: italic;
  display: flex;
  align-items: center;
  font-family: 'Quattrocentro', serif;
  color: #314E59;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 3px;
  background-color: #F03426;
  margin: 5px;
  
}


#products {
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.productcard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    position: relative;

    background-color: white;
    margin: 0.5em;
    padding: 10px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 #A9C8D4, 0 6px 20px 0 #A9C8D4;

    text-align: center;
    max-width: 500px;
}

.productcard img {
    width: 100%;
}

#products h2 {
    color:#314E59;
}

.productcard a {
    background-color: #F03426;
    color: white;
    text-decoration: none;
    padding: 0.4em;
    line-height: 2em;
    position: absolute;
    bottom: 0.5em;
    align-self: center;
}

#products a:hover {
    background-color: #5A7E8C;
    transition: ease;
}

#products a:active {
    background-color: #5A7E8C;
    color: #314E59;
}

.productcard p {
    line-height: 1.5;
    padding-bottom: 1.5em;
    color: #314E59;
    font-family: 'Quattrocentro', serif;

}

#services {
    width: 100%;
    margin: auto;
}

.reviews {
    max-width: 1200px;
    margin: auto;
}

.sk-ww-google-reviews {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.location-box {
    max-width: 1200px;
    margin: auto;
}

iframe {
    margin: auto;
    width: 50%;
    
    height: 600px;
}

.address-box p {
    line-height: 2.5em;
}


footer .content {
    height: 200px;
    text-align: center;
    margin-top: 30px;
    background-color: #A9C8D4;
}

footer p {
    background-color: #A9C8D4;
    padding-left: 10px;
}


@media screen and (max-width: 580px) {
    nav a {
        display: inline-block;
    }

    #mission h1 {
        font-size: 2.5em;
    }

    #tagline h2 {
    font-size: 2em;
    }

    h2 {
    font-size: 2em;
    }
}

@media screen and (max-width: 660px) {
    .productcard {
        max-width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
        padding: 0;
        height: 450px;
    }
}
